/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 3

   Filename: wm.css

   This file contains styles used in the cssDemo.htm Web page

*/


/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}

* {
   margin: 0px; 
   padding: 0px;
   line-height: 1.2em;
   color: black;
   font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
}

body {
   background: transparent url(back.png) repeat-y;
}

header {
   position: absolute; 
   top: 0px; 
   left: 0px;
}

header ul {
   position: absolute; 
   left: 380px; 
   top: 32px;
   list-style-type: none;
}

header ul li {
   width: 80px; 
   float: left; 
   text-align: center;
   border: 1px solid rgb(102, 102, 102);
}

header ul li a {
   display: block; 
   text-decoration: none;
   font-size: 12px;
   background-color: white; 
   padding: 2px 0px;
}

header ul li a:hover {
   color: white; 
   background-color: rgb(102, 102, 102);
}

nav.vertical {
   position: absolute; 
   top: 80px; 
   left: 10px;
   list-style-type: none;
}

nav.vertical a {
   font-size: 14px; 
   color: white; 
   text-decoration: none;
}

nav.vertical a:hover {
   color: rgb(255, 226, 110);
}

li.newgroup {
   margin-top: 15px;
}


section {
   position: absolute;
   top: 90px;
   left: 160px;
   width: 780px;
}

section h1 {
   font-size: 2em;
   font-weight: normal;
   letter-spacing: 5px;
}

section h2 {
   font-size: 1.5em;
   font-weight: normal;
   letter-spacing: 5px;
   clear: both;
   margin: 10px 0px;
}

section p {
   margin: 5px;
}

#output {
   width: 100%;
   height: 150px;
   border: 1px solid black;
   overflow: auto;
   margin-top: 10px;
   clear: both;
}

