/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author: 
   Date:   

   Filename:         mw_layout.css
   Supporting Files: none

*/


