/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 1

   JPF Style Sheet
   Author: Rebecca Peretz
   Date:   3/1/2014

   Filename:         jpf.css
   Supporting Files: 

*/


/* Default styles */

* {
   margin: 0px;
   list-style: none;
   padding: 0px;
   text-decoration: none;
}


/* Body styles */
body {
   font-family: Verdana, Geneva, sans-serif;
   width: 900px;
   margin: 0px auto;
}


/* Horizontal Navigation List */
nav.horizontal ul {
   height: 24px;
   margin-top: -30px;
   width: 100%;
}

nav.horizontal ul li {
   background-color: black;
   display: inline;
   font-size: 10px;
   margin: 0px 15px 0px 10px;
}

nav.horizontal ul li a {
   color: rgb(254, 232, 130);
}

nav.horizontal ul li a:hover {
   color: rgb(211, 254, 106);
}



/* Vertical Navigation List */
nav.vertical ul {
   background-color: black;
   clear: left;
   float: left;
   width: 150px;

   -moz-border-radius-bottomright: 100% 250px;
   -webkit-border-bottom-right-radius: 100% 250px;
   border-bottom-right-radius: 100% 250px;
}

nav.vertical ul li {
   font-size: 12px;
   line-height: 1.6em;
   margin: 5px 0px 7px 10px;
}

nav.vertical ul li:first-of-type {
   margin-top: 20px;
}

nav.vertical ul li:last-of-type {
   padding-bottom: 30px;
}

nav.vertical ul li a {
   color: rgb(254, 232, 130);
}

nav.vertical ul li a:hover {
   color: rgb(211, 254, 106);
   text-decoration: overline underline;
}



/* Main Page Section */
section {
   float: left;
   margin: 10px 0px 0px 20px;
   width: 500px;
}

section article h1 {
   font-size: 14px;
   margin-top: 10px;
}

section article p {
   font-size: 10px;
   margin: 10px 0px;
   width: 420px;
}










