/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 2

   The Spice Bowl Payment Form Style Sheet
   Author: Rita Sato
   Date:   3/1/2014

   Filename:         payment.css
   Supporting Files: go.png, stop.png

*/


