/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 2

   Spice Bowl Sheet
   Author: Rita Sato
   Date:   3/1/2014

   Filename:         sb.css
   Supporting Files: 

*/

/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}


/* Set the default page element styles */



*                        {margin: 0px; padding: 0px;
                          line-height: 1.2em;
                          color: black;
                          font-family: 'Trebuchet MS', Arial, Verdana, sans-serif}

body                     {background: white url(sbback.png) repeat-y}


header                 {position: absolute; top: 0px; left: 0px}
header img             {border-width: 0px}

nav               {position: absolute; top: 80px; left: 10px;
                          list-style-type: none}

nav li            {line-height: 0.9em}

nav a             {font-size: 12px; color: rgb(245, 170, 34); 
                          text-decoration: none}
nav a:hover       {color: white}

li.newgroup              {margin-top: 10px}


section                    {position: absolute; top: 90px; left: 175px;
                          width: 580px; 
                          padding: 10px 10px 0px 0px;
                          border-top: 1px solid rgb(205, 61, 0);
                          border-right: 3px solid rgb(205, 61, 0);
                          border-radius: 40px;}
section h1 {
   color: rgb(175, 72, 28);
   font-family: 'Century Gothic', sans-serif;
   font-size: 1.8em;
   letter-spacing: 5px;
   text-indent: 30px;
}

section p                  {font-size: 14px; margin-bottom: 10px}


address                  {font-style: normal; text-decoration: small-caps;
                          color: rgb(205, 61, 0); font-size: 10px;
                          text-align: center; letter-spacing: 3px;
                          border-top: 1px solid rgb(205, 61, 0);
                          clear: right;
                          padding: 5px 0px 20px; margin-top: 20px}

aside                 {position: absolute; top: 96px; left: 800px;
                          width: 180px}
aside h1              {font-size: 18px; font-weight: normal;
                          color: rgb(205, 61, 0);
                          margin-bottom: 20px}
aside h2              {font-size: 16px; font-weight: normal;
                          color: rgb(255, 111, 50);
                          margin-bottom: 10px}
aside ul              {list-style-type: none;
                          margin: 0px 0px 5px 10px;
                          border-top: 1px solid rgb(255, 141, 70);
                          border-bottom: 1px solid rgb(255, 141, 70)}
aside ul li           {font-size: 12px; color: rgb(255, 141, 70)}
aside p               {font-size: 11px; margin: 5px 0px 30px; color: rgb(255, 141, 70)}




