/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 2

   Chamberlain Civic Center Style Sheet


   Filename:         ccc.css
   Supporting Files: bottom.jpg, bottomleft.jpg, bottomright.jpg, left.jpg
                     tab.jpg, top.jpg, topleft.jpg, topright.jpg, right.jpg

*/



/* Default Styles */

* {
   list-style: none;
   margin: 0px;
   padding: 0px;
}

header, nav, section {
   display: block;
}


/* Body Styles */
body {
   font-family: Verdana, Geneva, sans-serif;
   margin: 0px auto;
   width: 730px;
}



/* Navigation Styles */

nav {
   margin-top: -3px;
}

nav ul {
   border-bottom: 1px solid red;
   height: 20px;
}

nav ul li {
padding: 0px;
   float: left; 
   margin: 0px 3px; 
   width: 100px; 
   line-height: 20px;
   height: 20px; 
   text-align: center; 
   background: url(tab.jpg) no-repeat top left;
}

nav ul li a {
   display: block; 
   width: 100px; 
   font-size: 10px; 
   text-decoration: none; 
   color: black;
}

nav ul li:hover {
   background: url(tabred.jpg) no-repeat top left;
}




/* Summary Section */

#summary {
   width: 700px;
}

#summary h1 {
   color: red; 
   font-size: 24px; 
   font-weight: normal;
   letter-spacing: 5px;
   margin: 10px;
}

#summary p {
   font-size: 12px; 
   margin: 10px 0px 10px 10px;
   text-align: justify;
}

#summary p i  {
   color: red; 
   font-style: normal;
}




/* Coming Events Section */

#events {
   margin: 0px auto;
}

footer {
   width: 720px;
}

footer address {
   border-top: 1px solid red;
   font-size: 10px;
   font-style: normal;
   text-align: center;
}