/*
   New Perspectives on HTML
   Tutorial 2
   Case Problem 2

   Fiddler Style Sheet
   Author: Tasha Juroszek 
   Date:   3/1/2014

   Filename:         fidstyles.css
   Supporting Files: none

*/

/* Section Styles */

body {
margin: 0px auto;
padding: 0px;
line-height: 1.5em;
width: 98%;
max-width: 780px;
min-width: 250px;
font-family: Verdana, Geneva, sans-serif;
}

header {
width: 100%;
display: block;
margin: 0px auto;
}

article p span {
color: brown;
}

nav {
display: block;
clear: left;
width: 100%;
}

nav ul {
list-style-type: none;;
margin: 0px;
padding: 0px;
}

nav ul li {
display: block;
float: left;
margin: 5px 10px 5px 0px;
padding: 0px;
}

figure {
display: block;
clear: left;
width: 100%;
margin: 0px;
padding: 0px;
}

figure img {
display: block;
}

figure figcaption {
display: block;
font-size: 0.8em;
}

img {
border-width: 0px;
}
