/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Pizza Order Style Sheet
   Author: 
   Date:   

   Filename:         pizza.css
   Supporting Files: delivery.png, okay.png, warning.png

*/


