/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Red Ball Pizza Style Sheet
   Author: Alice Nichols
   Date:   3/1/2014

   Filename:         redball.css
   Supporting Files: delivery.png

*/

/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}


/* Set the default page element styles */

body * {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 100%;
   font-weight: inherit;
   line-height: 1.2em;
   list-style: none;
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   vertical-align: baseline;
}



/* Body Styles */
body {
   width: 95%;
   min-width: 900px;
   max-width: 1000px;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 16px;
   margin: 0px auto;
   position: relative;
   border-left: 1px solid red;
   border-right: 1px solid red;
}

/* Header styles */

header {
   float: left;
   width: 100%;

   background: url(delivery.png) bottom right no-repeat;

   -o-background-size: contain;
   -moz-background-size: contain;
   -webkit-background-size: contain;
   background-size: auto 90%;

   background-color: rgb(255, 191, 165);
   border-bottom: 1px solid red;
}

header img {
   display: block;
   float: left;
   width: 30%;
}


/*Navigation list styles */

header nav {
   float: left;
   width: 77%;
   margin: 10px auto 10px -7%;
}

header nav li {
   display: block;
   width: 13%;
   margin-left: 1%;
   margin-bottom: 5px;
   float: left;
}

header nav li a {
   display: block;
   width: 100%;
   height: 50px;
   line-height: 50px;
   text-align: center;
   color: white;
   font-size: 0.8em;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   background-color: rgb(233, 69, 0);
}

header nav li a:hover {
   background-color: rgb(235, 152, 66);
}

header article {
   float: left;
   width: 68%;
}



header h1 {
   font-size: 2.5em;
   font-family: "Times New Roman", serif;
   font-weight: bold;
   color: rgb(233, 69, 0);
   letter-spacing: 7px;
   margin-right: 20%;
}

header p {
   font-size: 1.2em;
   color: rgb(233, 69, 0);
   margin: 10px 25% 10px 10px;
}


/* Section styles */

section {
   clear: left;
}

section p {
   color: rgb(233, 69, 0);
   margin-left: 20px;
   margin-bottom: 5px;
   padding-top: 5px;
   width: 100%;
}


/* Footer Styles */

footer {
   border-top: 1px solid red;
   background-color: rgb(255, 191, 165);
   clear: left;
   margin-top: 20px;
   padding: 10px 0px;
}

footer address {
   color: rgb(233, 69, 0);
   font-style: normal;
   font-size: 0.8em;
   text-align: center;
}